# Service account to call the function
resource "google_service_account" "{{ resourceId }}" {
  project = "{{ project }}"
  # cut down project name, if account_id would be longer than resourceId
  account_id = "${substr("{{ project }}", 0, {{ resourceId | length }})}-{{ resourceId }}"
}

# IAM entry for all users to invoke the function
resource "google_cloudfunctions_function_iam_member" "{{ resourceId }}" {
  project        = "{{ project }}"
  region         = google_cloudfunctions_function.{{ function }}.region
  cloud_function = google_cloudfunctions_function.{{ function }}.name

  role   = "roles/cloudfunctions.invoker"
  member = "serviceAccount:${google_service_account.{{ resourceId }}.email}"
}
